
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #1f1f1f;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

header {
  text-align: center;
  margin: 100px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
}

section {
  text-align: center;
  margin: 50px 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
}

button[type="submit"] {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
}